* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

header {
    width: 100%;
    margin: auto;
    height: 500px;
    background-color: #0d325a;
}

#header-top {
    height: 100px;
    margin: auto;
    max-width: 1200px;
}

#header-top-left{
    height: 100px;
    width: 10%;
    margin: auto;
    float: left;
    padding: 10px;
}

#menu-top{
    height: 100px;
    width: 55%;
    margin: auto;
    float: left;
    text-align: center;
    font-weight: bold;
    line-height: 100px;
}

ul li {
    list-style: none;
    color: white;
    font-variant-caps: all-small-caps;
    display: inline-block;
    padding: 10px;

}
#menu-top ul li:hover {
    color: orange;
    cursor: pointer;
}

#header-top-left {
    padding-top: 38px;
}

#header-top-right{
    height: 100px;
    width: 35%;
    margin: auto;
    float: left;
    display: inline-block;
    padding: 10px;
    line-height: 100px;
}

#header-top-right button:hover {
    cursor: pointer;
}

#header-top-right a {
    text-decoration: none;
    color: rgba(255,255,255,.5);
    font-variant-caps: all-small-caps;
    font-weight: bold;
}

#header-top-right button:nth-child(2) {
    color: white;
    border-radius: 5px;
    background: #0d325a;
    border-color: #4e8cb6;
    padding: 8px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.green-button {
    background-color: #7fb802;
    border-radius: 5px;
    padding: 8px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.green-button button:hover {
    cursor: pointer;
}

#header-bottom {
    height: 400px;
    margin: auto;
    width: 1200px;
}

.header-text {
    margin: auto;
    height: 400px;
    width: 30%;
    float: left;
    color: white;
    font-size: 30px;
    padding-top: 50px;
}

.header-text button:nth-child(2) {
    margin-left: 10%;
}

.header-image {
    margin: auto;
    height: 400px;
    width: 70%;
    background-image: url('img/header-picture.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    float: left;
}

#header-bottom h1{
    margin-left: 10%;
    font-size: 30px;

}
section {
    background-color: #f9f9f9;
}

#afterheader-container {
    height: 150px;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
    position: relative;
    max-width: 1200px;
    color: #999;
    background-color: #f9f9f9;
}

#text-container1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#afterheader-container h2{
    color: black;
    font-weight: normal;
}

#afterheader-container h3{
    color: #999;
    font-weight: lighter;
}

.section1 {
    max-width: 1200px;
    height: 600px;
    margin: auto;
    position: relative;
}

.section1 img {
    width: auto;
    height: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
    }

.section1 h2 {
    color: #7fb802;
    text-align: center;
    font-weight: 500;
    padding-bottom: 10%;
}

.section1 p {
    color: #999;
    text-align: center;
    padding-top: 10%;
}

.image1 , .image2 , .image3 {
    margin: auto;
    width: 33%;
    height: 300px;
    float: left;
    padding: 40px;
}

hr {
    color: rgba(0,0,0,.1);
}

.section2 {
    max-width: 1200px;
    height: 600px;
    margin: auto;
    position: relative;
}

.section2-img , .section2-text {
    margin: auto;
    width: 50%;
    height: 600px;
    float: left;
}

.section2-img {
    margin-top: 20px;
}

.section2-text  h2{
    text-align: left;
    color: #4a4a4a;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    padding: 100px 20px;
}

.section2-text  p{
    text-align: left;
    color: #999;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 21px;
    padding: 0px 20px;
}

.section2-text a {
    margin-top: 30px;
    color: #98c8f8;
    font-size: 15px;
    padding: 10px 20px;
}
